.mainBox {
  text-align: center;
}

.toolbar{
  width: 100%;
  height: 75px;
  background-color: grey;
}

.link{
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.user{
  width: 100%;
}
.width25{
  width: 20%;
  padding: 10px;
}
.deleteBtn{
  color: red;
  width: 20%;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.editBtn{
  color: orange;
  width: 20%;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}
.border{
  border-bottom: 1px solid black;
}

input {
  width: 200px;
  height: 36px;
  margin-top: 3px;
}


.bold{
  font-size: 15px;
  font-weight: bold;
}

.d-flex{
  display: flex;
}

.flex-dir-col{
  flex-direction: column;
}
.flex-j-center{
  justify-content: center;
}
.flex-j-btw{
  justify-content: space-between;
}
.flex-a-center{
  align-items: center;
}
.mt-20{
  margin-top: 20px;
}
.mt-50{
  margin-top: 50px;
}
.m10{
  margin: 10px;
}

.green{
  color: green;
}